# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.9.0=pypi_0
astor=0.8.1=pypi_0
certifi=2018.8.24=py35_1
cycler=0.10.0=pypi_0
gast=0.2.2=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.30.0=pypi_0
h5py=2.10.0=pypi_0
importlib-metadata=1.7.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
markdown=3.2.2=pypi_0
matplotlib=1.5.3=pypi_0
mne=0.20.0=pypi_0
numpy=1.18.2=pypi_0
opt-einsum=3.3.0=pypi_0
pandas=0.25.3=pypi_0
pip=10.0.1=py35_0
protobuf=3.12.2=pypi_0
pyparsing=2.4.7=pypi_0
python=3.5.4=h1357f44_23
python-dateutil=2.8.1=pypi_0
pytz=2020.1=pypi_0
scikit-learn=0.19.1=pypi_0
scipy=1.4.1=pypi_0
setuptools=40.2.0=py35_0
six=1.15.0=pypi_0
tensorboard=1.15.0=pypi_0
tensorflow-estimator=1.15.1=pypi_0
tensorflow-gpu=1.15.2=pypi_0
termcolor=1.1.0=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.16.27012=hf0eaf9b_3
werkzeug=1.0.1=pypi_0
wheel=0.31.1=py35_0
wincertstore=0.2=py35hfebbdb8_0
wrapt=1.12.1=pypi_0
zipp=1.2.0=pypi_0
